<div class="skills-container">
    <section class="skills-intro">
        <div class="intro">
            <h2>Tecnologias que Já Utilizei</h2>
            <div class="caption">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
                <h3>
                    Conheça as Ferramentas e Tecnologias Com as Quais Trabalhei
                </h3>
            </div>
        </div>
        <div class="skills-list">
            <h3>Linguagens de Programação</h3>
            <p class="skills">
                <app-link target="_blank" href="https://docs.oracle.com/en/java/index.html">Java</app-link> -
                <app-link target="_blank" href="https://learn.microsoft.com/en-us/dotnet/csharp/">C#</app-link> -
                <app-link target="_blank" href="https://www.python.org/">Python</app-link> -
                <app-link target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</app-link> -
                <app-link target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</app-link> |
                <app-link target="_blank" href="https://sass-lang.com/">SCSS</app-link> -
                <app-link target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</app-link> |
                <app-link target="_blank" href="https://www.typescriptlang.org/">TypeScript</app-link>
            </p>
            <br>
            <h3>Frameworks e Bibliotecas</h3>
            <p class="skills">
                <app-link target="_blank" href="https://angular.io/cli">Angular CLI</app-link> -
                <app-link target="_blank" href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET Core</app-link> -
                <app-link target="_blank" href="https://learn.microsoft.com/en-us/ef/core/">Entity Framework Core</app-link> -
                <app-link target="_blank" href="https://getbootstrap.com/">Bootstrap</app-link>
            </p>
            <br>
            <h3>Ferramentas de Testes</h3>
            <p class="skills">
                <app-link target="_blank" href="https://learn.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-mstest">MSTest</app-link> -
                <app-link target="_blank" href="https://junit.org/junit5/docs/current/user-guide/">JUnit</app-link> -
                <app-link target="_blank" href="https://jasmine.github.io/">Jasmine</app-link>
            </p>
            <br>
            <h3>Ferramentas e Tecnologias</h3>
            <p class="skills">
                <app-link target="_blank" href="https://code.visualstudio.com/">VS Code</app-link> -
                <app-link target="_blank" href="https://visualstudio.microsoft.com/">Microsoft Visual Studio</app-link> -
                <app-link target="_blank" href="https://netbeans.apache.org/">Netbeans</app-link> -
                <app-link target="_blank" href="https://git-scm.com/">Git</app-link> |
                <app-link target="_blank" href="https://github.com/">GitHub</app-link> -
                <app-link target="_blank" href="https://www.microsoft.com/en-us/sql-server/">Microsoft SQL Server</app-link>
            </p>
            <br>
            <h3>Metodologias</h3>
            <p class="skills">
                <app-link target="_blank" href="https://martinfowler.com/tags/domain%20driven%20design.html">DDD</app-link> -
                <app-link target="_blank" href="https://www.agilealliance.org/glossary/tdd">TDD</app-link> -
                <app-link target="_blank" href="https://www.scrum.org/">Scrum</app-link> -
                <app-link target="_blank" href="https://www.atlassian.com/agile/kanban">Kanban</app-link>
            </p>
        </div>
    </section>
</div>