<div class="skills-container">
    <section class="skills-intro">
        <h2>Minhas Experiências</h2>
        <br>
        <div class="skills-list">
            <h3>Linguagens de Programação</h3>
            <p class="icon-skill">
                <a href="https://www.w3schools.com/java/java_intro.asp" target="_blank">Java</a> -
                <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank">C#</a> -
                <a href="https://www.python.org/" target="_blank">Python</a> -
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">HTML</a> -
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">CSS</a> |
                <a href="https://sass-lang.com/" target="_blank">SCSS</a> -
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript</a> |
                <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>
            </p>
            <br>
            <h3>Frameworks e Bibliotecas</h3>
            <p class="icon-skill">
                <a href="https://angular.io/cli" target="_blank">Angular CLI</a> -
                <a href="https://dotnet.microsoft.com/apps/aspnet" target="_blank">ASP.NET Core</a> -
                <a href="https://learn.microsoft.com/en-us/ef/core/" target="_blank">Entity Framework Core</a> -
                <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
            </p>
            <br>
            <h3>Ferramentas de Testes</h3>
            <p class="icon-skill">
                <a href="https://learn.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-mstest" target="_blank">MSTest</a> -
                <a href="https://junit.org/junit5/" target="_blank">JUnit</a> -
                <a href="https://jasmine.github.io/" target="_blank">Jasmine</a>
            </p>
            <br>
            <h3>Ferramentas e Tecnologias</h3>
            <p class="icon-skill">
                <a href="https://code.visualstudio.com/" target="_blank">VS Code</a> -
                <a href="https://visualstudio.microsoft.com/" target="_blank">Microsoft Visual Studio</a> -
                <a href="https://netbeans.apache.org/" target="_blank">Netbeans</a> -
                <a href="https://git-scm.com/" target="_blank">Git</a> |
                <a href="https://github.com/" target="_blank">GitHub</a> -
                <a href="https://www.microsoft.com/en-us/sql-server/" target="_blank">Microsoft SQL Server</a>
            </p>
            <br>
            <h3>Metodologias</h3>
            <p class="icon-skill">
                <a href="https://martinfowler.com/tags/domain%20driven%20design.html" target="_blank">DDD</a> -
                <a href="https://www.agilealliance.org/glossary/tdd" target="_blank">TDD</a> -
                <a href="https://www.scrum.org/" target="_blank">Scrum</a> -
                <a href="https://www.atlassian.com/agile/kanban" target="_blank">Kanban</a>
            </p>
        </div>
    </section>
</div>