<div class="about-wrapper">
    <section class="about-intro">
        <img class="board" src="assets/icons/circuit-board-square.png">
        <img class="avatar" src="assets/img/avatar.png" alt="Foto de Guil">
        <section class="about-me">
            <h1>Sobre Mim</h1>
                <p>Sou um desenvolvedor apaixonado por programação e por criar soluções criativas.
                Meu primeiro contato com a tecnologia aconteceu aos 13 anos, e desde então,
                descobri um mundo de possibilidades infinitas. A ideia de transformar ideias em realidade,
                seja programando, compondo ou desenvolvendo, é o que me motiva a continuar sempre buscando novos desafios.</p>
        </section>
    </section>

    <section class="skills">
        <h2>Minhas Habilidades</h2>
        <app-skill-list></app-skill-list>
    </section>

    <section class="experience">
        <h2>Experiências</h2>
        <ul class="timeline">
            <li><strong>Desenvolvedor Analista Junior</strong> - NDD Tech Brasil (2024 - Presente)</li>
            <li><strong>Estágio e Lider de Equipe</strong> - Academia do Programador (2023 - 2024)</li>
            <li><strong>Bacharelado Ciência da Computação</strong> - IFSC - Câmpus Lages (2022 - 2025)</li>
        </ul>
        <section class="buttons">
            <app-button href="competence" text="Veja Minhas Compentências"></app-button>
            <app-button href="contact" text="Entre Em Contato"></app-button>
        </section>
    </section>
    <img class="experience-icon" src="../../assets/icons/circuit-board.png">

</div>