$color-default: #0C0D12;    // Fundo principal escuro
$color-secondary: #595965;  // Fundo secundário mais claro
$color-neutral: #A6A7A8;    // Cor neutra, usada para textos, bordas, ou fundos de cards
$color-light: #F0F5FE;      // Fundo claro, ideal para áreas de destaque ou conteúdo principal
$color-accent: #04D361;     // Cor de destaque para botões, links e CTAs